.errorTotas{
    color:red;
    .toast-message{
        color:red;
    }
    .toast-button {
        color:red;
    }.disable-hover{
        color:red;
    } .button{
        color:red;
    } .button-ios{
                color:red;
    } .button-clear{
                color:red;        
    } .button-clear-ios{
        color:red;
    }
}

.successTotas{
     color:green;
    .toast-message{
        color:green;
    }
    .toast-button {
        color:green;
    }.disable-hover{
        color:green;
    } .button{
        color:green;
    } .button-ios{
                color:green;
    } .button-clear{
                color:green;        
    } .button-clear-ios{
        color:green;
    }
}